/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  inline-size: 100%;
  background: var(--bg-color, #000028);
  background-image: var(--bg-pattern);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-text, #f1b2ce);
  font-family: var(--font-family, monospace), monospace;
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weght-regular, 400);
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  font-style: normal;
  margin-bottom: 40px;
  color: var(--button-color, #ff0070);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  right: 38px;
  line-height: 25px;
  display: var(--rec-block, block)
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  margin: 10px;
  background: var(--color-content-title, #FF0070);
  box-shadow: 0px 0px 4px 2px var(--color-content-title, #FF0070);
  border-radius: 50%;
}

.header__theme-menu {
  display: grid;
  color: var(--button-color);
  justify-self: end;
  align-self: center;
  margin: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  list-style: none
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 13px;
  width: 70px;
  height: 26px;
  background: transparent;
  border: 1px solid transparent;
  color: inherit;
  cursor: pointer;
  text-transform: lowercase;
  border-bottom: 1px solid transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color, #FF0070);
}

.header__theme-menu-button:hover {
  text-decoration: none;
  border: 1px solid var(--button-color-border);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--button-color, #FF0070);
}

.header__title {
  display: grid;
  align-items: end;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--bg-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: var(--font-weight-bold, 700);
  margin: 0 10px;
}

.header__text {
  display: grid;
  align-self: center;
  max-width: 355px;
  margin: -10px 10px 0;
  font-weight: var(--font-weight-bold, 700);
  color: var(--color-header-text, #000028);
  background-color: var(--bg-title, #ff0070);
  line-height: 23.4px;
}

.main {
  margin: 0 10px;
  display: grid;
  gap: 50px;
}

.content__title {
  color: var(--color-content-title, #ff0070);
  margin-bottom: 20px;
  line-height: 23.4px;
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size, 18px);
}

.card__item-title {
  color: var(--color-item-title, #000028);
  background-color: var(--bg-title, #ff0070);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size, 18px);
  margin-bottom: 10px;
}

.card__item-text {
  line-height: 23.4px;
  margin-bottom: 20px;
}
.card__item:last-child .card__item-text {
  margin: 0;
}

.card__list-title {
  color: var(--color-item-title, #000028);
  background-color: var(--bg-title, #ff0070);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size, 18px);
  margin-bottom: 20px;
}

.card__item-title--regular{
  font-weight: var(--font-weght-regular);
}

.card__item-text a{
  text-decoration: none;
  text-shadow: 2px 2px var(--bg-title);
}

.card__item-text a:hover {
  border-bottom: 1px solid var(--color-text);
}

.card__item-text a:focus-visible {
  outline: 1px solid var(--color-text);
}

.content__image-title {
  color: var(--color-item-title, #000028);
  background-color: var(--bg-title, #ff0070);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--font-size, 18px);
  margin-bottom: 10px;
}

.image__list {
  display: grid;
  margin-bottom: 40px;
  flex-direction: column;
  gap: 5px;
}

.image__item {
  width: 100%;
}

.footer {
  display: grid;
  height: 100vh;
  min-height:668px;
}

.footer__title {
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--bg-title);
}


@media (width >= 768px) {
  .header {
    min-height: 1024px;
    margin-bottom: 60px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    max-width: 364px; 
    margin: 20px 20px 25px;
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__theme-menu {
    margin: 20px;
  }

  .main {
    gap: 80px;
    margin: 0 20px;
  }

  .content {
    display: grid;
    gap: 20px;
  }

  .content__column {
    grid-template-columns: 1fr 2fr;
  }

  .content__column > .content__title {
    grid-column: 1;
  }

  .content__column > .card__list {
    grid-column: 2;
  }

  .content__row {
    grid-template-columns: 1fr 3fr; 
  }

  .content__row > .content__title {
    grid-column: 1;
  }

  .content__row > .card__item-title {
    grid-column: span 2;
  }  

  .content__row > .card__list {
    grid-column: span 2;
  } 

  .content__title {
    margin-bottom: 0;
  }

  .card__item-text {
    margin-top: 10px;
  }

  .card__list {
    grid-column: auto;
  }

  .image__list li:nth-child(1) { 
    grid-area: sunset;
    grid-column: 1/3;
    grid-row: 1;
  }

  .image__list li:nth-child(2) { 
    grid-area: ice-cream;
    grid-column: 3;
    grid-row: 1/3;
  }

  .image__list li:nth-child(3) { 
    grid-area: tape;
    grid-column: 1;
    grid-row: 2/4;
  }

  .image__list li:nth-child(4) { 
    grid-area: books;
    grid-column: 2;
    grid-row: 2;
  }

  .image__list li:nth-child(5) { 
    grid-area: street;
    grid-column: 2/4;
    grid-row: 3;
  }

  .image__list {
    display: grid;
    max-width: 100%;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    grid-template-columns: repeat(3, 1fr); 
    margin-bottom: 70px;
    gap: 20px;
  }

  .image__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .footer {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    max-width: 491px;
  }

  .content__title {
    min-width: 315px;
  }
  
  .content__row > .card__list{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }


  .content__column > .card__list {
    max-width:100%;
  }

  .footer {
    min-height: 768px;
  }
}